.App {
  font-family: "Karla", sans-serif;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #672280;
  color: white;
}

.header--img {
  width: 70px;
  margin: 10px;
  /* height: 30px; */
}

.header--left--side {
  display: flex;
  margin-right: 600px;
}
